In [220]:
#Import Dependencies
import pandas as pd
from pathlib import Path

In [221]:
customer_shopping_data_csv = Path("./Resources/source/customer_shopping_data.csv")

customer_shopping_data_df = pd.read_csv(customer_shopping_data_csv)

#conversion to date type
customer_shopping_data_df["invoice_date"] = pd.to_datetime(customer_shopping_data_df["invoice_date"], format="%d/%m/%Y").dt.date

customer_shopping_data_df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon

In [222]:
exchange_rate_csv = Path("./Resources/output/exchange_rate.csv")

exchange_rate_df = pd.read_csv(exchange_rate_csv)

#conversion to date type
exchange_rate_df["date"] = pd.to_datetime(exchange_rate_df["date"]).dt.date

exchange_rate_df.head()

         date  exchange_rate
0  2021-01-01       7.439200
1  2021-01-02       7.439200
2  2021-01-03       7.441906
3  2021-01-04       7.427000
4  2021-01-05       7.390200

In [223]:
historical_weather_csv = Path("./Resources/output/Istanbul_historical_weather.csv")

historical_weather_df = pd.read_csv(historical_weather_csv)

#conversion to date type
historical_weather_df["date"] = pd.to_datetime(historical_weather_df["date"]).dt.date

historical_weather_df.head()

,date,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,...,windspeed,winddir,pressure,cloudcover,visibility,uvindex,sunrise,sunset,conditions,description
0,2022-08-01,85.8,74.6,79.8,85.1,74.6,80.4,65.0,62.8,0.0,...,12.5,30.7,1009.4,31.0,7.7,8.0,05:59:38,20:20:37,Partially cloudy,Partly cloudy throughout the day.
1,2022-08-02,84.0,70.2,77.5,86.7,70.2,78.4,63.2,61.7,0.0,...,16.8,22.6,1011.3,22.8,7.8,NaN,06:00:36,20:19:31,Partially cloudy,Partly cloudy throughout the day.
2,2022-08-03,83.0,72.8,77.8,86.9,72.8,79.0,67.7,71.3,0.0,...,20.0,27.1,1012.9,48.8,8.0,NaN,06:01:34,20:18:23,Partially cloudy,Partly cloudy throughout the day.
3,2022-08-04,82.2,75.0,78.2,85.5,75.0,79.1,67.8,70.6,0.0,...,17.9,31.6,1013.2,39.6,7.9,9.0,06:02:33,20:17:13,Partially cloudy,Partly cloudy throughout the day.
4,2022-08-05,83.3,73.6,78.6,87.5,73.6,80.0,68.7,71.9,0.0,...,16.4,39.7,1012.4,36.7,7.9,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.

In [224]:
customer_shopping_data_df = pd.merge(customer_shopping_data_df, exchange_rate_df, how="left", left_on="invoice_date", right_on="date")
customer_shopping_data_df.drop(columns=["date"], inplace=True)

customer_shopping_data_df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,exchange_rate
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,17.91260
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,13.86633
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,9.73220
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,8.45010
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,9.72164

In [225]:
customer_shopping_data_df = pd.merge(customer_shopping_data_df, historical_weather_df, how="left", left_on="invoice_date", right_on="date")

customer_shopping_data_df.drop(columns=["date"], inplace=True)

customer_shopping_data_df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,...,windspeed,winddir,pressure,cloudcover,visibility,uvindex,sunrise,sunset,conditions,description
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,...,16.4,39.7,1012.4,36.7,7.9,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,...,10.2,155.6,1013.4,78.4,6.6,2.0,08:19:55,17:35:41,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,...,19.2,355.0,1022.0,83.2,4.9,3.0,07:44:31,17:50:44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,...,12.5,352.6,1008.0,79.5,7.7,8.0,05:45:11,20:16:18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,...,17.1,25.6,1024.8,67.7,6.0,1.0,07:25:37,18:10:13,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...

In [226]:
customer_shopping_data_df = customer_shopping_data_df.rename(columns={
    "invoice_no": "Invoice #",
    "customer_id": "Customer ID",
    "gender": "Gender",
    "age": "Age",
    "category": "Category",
    "quantity": "Quantity",
    "price": "Price (TYR)",
    "payment_method": "Payment Method",
    "invoice_date": "Invoice Date",
    "shopping_mall": "Shopping Mall",
    "exchange_rate": "Exchange Rate (USD-to-TYR)",
    "tempmax": "Max Temp (F)",
    "tempmin": "Min Temp (F)",
    "temp": "Temp (F)",
    "feelslikemax": "Feels Like Max Temp (F)",
    "feelslikemin": "Feels Like Min Temp (F)",
    "feelslike": "Feels Like Temp (F)",
    "dew": "Dew Point Temp (F)",
    "humidity": "Humidity (%)",
    "precip": "Precip (in)",
    "precipprob": "Precip Likelihood (%)", 
    "precipcover": "Precip Cover (rate)",
    "preciptype": "Precip Type", 
    "snow": "Snowfall (in)",
    "snowdepth": "Snow Depth (in)", 
    "windgust": "Wind Gusts (mph)", 
    "windspeed": "Wind Speed (mph)", 
    "winddir": "Wind Direction (degrees)", 
    "pressure": "Pressure (mbar)",
    "cloudcover": "Clouds (%)", 
    "visibility": "Visibility (mi)", 
    "uvindex": "UV Index", 
    "sunrise": "Sunrise", 
    "sunset": "Sunset",
    "conditions": "Conditions", 
    "description": "Description"
})

customer_shopping_data_df.head()

,Invoice #,Customer ID,Gender,Age,Category,Quantity,Price (TYR),Payment Method,Invoice Date,Shopping Mall,...,Wind Speed (mph),Wind Direction (degrees),Pressure (mbar),Clouds (%),Visibility (mi),UV Index,Sunrise,Sunset,Conditions,Description
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,...,16.4,39.7,1012.4,36.7,7.9,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,...,10.2,155.6,1013.4,78.4,6.6,2.0,08:19:55,17:35:41,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,...,19.2,355.0,1022.0,83.2,4.9,3.0,07:44:31,17:50:44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,...,12.5,352.6,1008.0,79.5,7.7,8.0,05:45:11,20:16:18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,...,17.1,25.6,1024.8,67.7,6.0,1.0,07:25:37,18:10:13,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...

In [227]:
#Entering age category using the American system of division into young, adult, and senior
#set the boundaries of the ranges and their labels, in the last one I specified 1000 years, 
#in this case, it represents an equivalent of >= 65

age_group_bins = [0, 18, 65, 1000]
age_group_labels = ["Young", "Adult", "Senior"]

customer_shopping_data_df["Age Group"] = pd.cut(customer_shopping_data_df["Age"], bins=age_group_bins, labels=age_group_labels, right=False)
customer_shopping_data_df.head()

,Invoice #,Customer ID,Gender,Age,Category,Quantity,Price (TYR),Payment Method,Invoice Date,Shopping Mall,...,Wind Direction (degrees),Pressure (mbar),Clouds (%),Visibility (mi),UV Index,Sunrise,Sunset,Conditions,Description,Age Group
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,...,39.7,1012.4,36.7,7.9,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.,Adult
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,...,155.6,1013.4,78.4,6.6,2.0,08:19:55,17:35:41,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Adult
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,...,355.0,1022.0,83.2,4.9,3.0,07:44:31,17:50:44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,Adult
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,...,352.6,1008.0,79.5,7.7,8.0,05:45:11,20:16:18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Senior
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,...,25.6,1024.8,67.7,6.0,1.0,07:25:37,18:10:13,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,Adult

In [228]:
#Similarly, we perform the division into age groups.
age_range_bins = [0, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 100]
age_range_labels = ["0-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49", "50-54", "55-59", "60-64", "65-100"]

customer_shopping_data_df["Age Range"] = pd.cut(customer_shopping_data_df["Age"], bins=age_range_bins, labels=age_range_labels, right=False)
customer_shopping_data_df.head()

,Invoice #,Customer ID,Gender,Age,Category,Quantity,Price (TYR),Payment Method,Invoice Date,Shopping Mall,...,Pressure (mbar),Clouds (%),Visibility (mi),UV Index,Sunrise,Sunset,Conditions,Description,Age Group,Age Range
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,...,1012.4,36.7,7.9,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.,Adult,25-29
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,...,1013.4,78.4,6.6,2.0,08:19:55,17:35:41,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Adult,20-24
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,...,1022.0,83.2,4.9,3.0,07:44:31,17:50:44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,Adult,20-24
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,...,1008.0,79.5,7.7,8.0,05:45:11,20:16:18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Senior,65-100
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,...,1024.8,67.7,6.0,1.0,07:25:37,18:10:13,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,Adult,50-54

In [229]:
#Apply currency conversion to create a new column with price in $, 
#dividing the price in lira by the exchange rate (dividing because we have downloaded the exchange rate of $ to lira)

customer_shopping_data_df["Price (USD)"] = customer_shopping_data_df["Price (TYR)"] / customer_shopping_data_df["Exchange Rate (USD-to-TYR)"]

#Calculate the cost in lira, based on the price and quantity of the purchased product

customer_shopping_data_df["Cost (TYR)"] = customer_shopping_data_df["Price (TYR)"] * customer_shopping_data_df["Quantity"]
customer_shopping_data_df["Cost (USD)"] = customer_shopping_data_df["Price (USD)"] * customer_shopping_data_df["Quantity"]
customer_shopping_data_df.head()

,Invoice #,Customer ID,Gender,Age,Category,Quantity,Price (TYR),Payment Method,Invoice Date,Shopping Mall,...,UV Index,Sunrise,Sunset,Conditions,Description,Age Group,Age Range,Price (USD),Cost (TYR),Cost (USD)
0,I138884,C241288,Female,28,Clothing,4,16107.36,Credit Card,2022-08-05,Kanyon,...,NaN,06:03:31,20:16:03,Partially cloudy,Partly cloudy throughout the day.,Adult,25-29,899.219544,64429.44,3596.878175
1,I317333,C111565,Male,21,Shoes,3,220.54,Debit Card,2021-12-12,Forum Istanbul,...,2.0,08:19:55,17:35:41,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Adult,20-24,15.904713,661.62,47.714139
2,I127801,C266599,Male,20,Clothing,1,180.43,Cash,2021-11-09,Metrocity,...,3.0,07:44:31,17:50:44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,Adult,20-24,18.539487,180.43,18.539487
3,I173702,C988172,Female,66,Shoes,5,848.38,Credit Card,2021-05-16,Metropol AVM,...,8.0,05:45:11,20:16:18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,Senior,65-100,100.398812,4241.90,501.994059
4,I337046,C189076,Female,53,Books,1,10.18,Cash,2021-10-24,Kanyon,...,1.0,07:25:37,18:10:13,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,Adult,50-54,1.047148,10.18,1.047148

In [230]:
column_order = ['Invoice #', 'Invoice Date', 'Customer ID', 'Gender', 'Age', 'Age Group', 'Age Range', 'Category', 'Quantity', 'Price (TYR)', 'Cost (TYR)', 'Price (USD)', 'Cost (USD)',
                'Exchange Rate (USD-to-TYR)', 'Payment Method', 'Shopping Mall', 'Max Temp (F)', 'Min Temp (F)', 'Temp (F)', 'Feels Like Max Temp (F)', 'Feels Like Min Temp (F)',
                'Feels Like Temp (F)', 'Dew Point Temp (F)', 'Humidity (%)', 'Precip (in)', 'Precip Likelihood (%)', 'Precip Cover (rate)', 'Precip Type', 'Snowfall (in)', 
                'Snow Depth (in)', 'Wind Gusts (mph)', 'Wind Speed (mph)', 'Wind Direction (degrees)', 'Pressure (mbar)', 'Clouds (%)', 'Visibility (mi)', 'UV Index', 
                'Sunrise', 'Sunset', 'Conditions', 'Description']

customer_shopping_data_df = customer_shopping_data_df[column_order]

In [231]:
#Add date attributes - month number, day number in the year, date in the year (i.e., date in month/day format without the year), year

customer_shopping_data_df["Month"] = customer_shopping_data_df["Invoice Date"].apply(lambda x: x.month)
customer_shopping_data_df["Day Of Year"] = customer_shopping_data_df["Invoice Date"].apply(lambda x: x.timetuple().tm_yday)
customer_shopping_data_df["Date Of Year"] = customer_shopping_data_df["Invoice Date"].apply(lambda x: f"{x.timetuple().tm_mon}/{x.timetuple().tm_mday}")
customer_shopping_data_df["Year"] = customer_shopping_data_df["Invoice Date"].apply(lambda x: f"{x.timetuple().tm_year}")

In [232]:
customer_shopping_data_df.to_csv("./Resources/output/customer_shopping_data.csv", header=True, index=False)